# Dépendances
/vendor/
node_modules/

# Environnement
.env
.env.backup
.env.production
auth.json

# Cache & compilation
.phpunit.result.cache
/.phpunit.cache/
/phpstan-result-cache.php

# Outils de dev
/.idea/
/.vscode/
.phpactor.json

# Build assets
/public/build/

# Logs
npm-debug.log
yarn-error.log

# Playwright
/.playwright-mcp/
